<footer class="footerContainer" >
  <div class="row" style="padding: 0%;">
    <div class="col-md-4 col-sm-4 col-xs-4" style="text-align: center;padding: 0%;">
      <!-- <div style="text-align: center; color: rgb(231, 231, 6); font-size: larger;">Help & Support</div>
      <div style="text-align: center;">24X7 Customer Support</div>
      <div style="text-align: center; font-size: larger;font-weight: bold;">+91-0000000000</div> -->
      <div style="margin-top: 2%;text-align: center;">Write to us any complaint or feedback</div>
      <div class="mailId">support @captainxcc.com</div>
    </div>
    <div class="col-md-4 col-sm-4 col-xs-4" style="text-align: center;padding: 0%;">
      <div style="text-align: center; color: rgb(231, 231, 6); font-size: larger;">About Us</div>
      <div class="footer-btn" (click)="onAboutUsClick()">About Captain X</div>
      <div class="footer-btn" (click)="onHomeClick()">How To Play</div>
      <div class="footer-btn" (click)="onGuide()">Captain's Guide</div>
      <div class="footer-btn" (click)="onWhyCaptainx()">Why Captain X?</div>
      <div class="footer-btn" >Download for Android</div>
      <div class="footer-btn" (click)="onLegality()">Legality</div>
    </div>
    <div class="col-md-4 col-sm-4 col-xs-4" style="text-align: center;padding: 0%;">
      <div style="text-align: center; color: rgb(231, 231, 6); font-size: larger;">Policy</div>
      <div class="footer-btn" (click)="onTerms()">Privacy Policy</div>
      <div class="footer-btn" (click)="onTerms()">Terms and Conditions</div>
      <div class="footer-btn" (click)="onFps()">Fantasy Point System</div>
      <div class="footer-btn" (click)="onFAQ()">FAQ</div>
    </div>
  </div>

  <div class="col-md-12 col-sm-12 col-xs-12 " style="margin-top: 2%;">
    <div class="col-md-12 col-sm-12 col-xs-12" style="text-align: center; color: rgb(231, 231, 6); font-size: larger;">Disclaimer</div>
    <div class="col-md-12 col-sm-12 col-xs-12" style="text-align: center;">
      <p>Unless stated otherwise, Captain X is not associated with any regulatory/governing body of any sports and leagues.<br/> Captain X also claims no association with any International, National, State, District Level Teams in any sports.</p>
      <p>Captain X does not claim to offer its services error free, spontaneous, secure, uninterrupted, accurate, reliable and timely.<br/>Captain X does not claim to meet the requirement of its captains or the quality of the product of the company.</p>       
    </div>
  </div>

  <div class="col-md-12 col-sm-12 col-xs-12 hiddenBlock" style="padding: 0%; margin-top: 2%;">
    <div class="col-md-4 col-sm-4 col-xs-4" style="text-align: center;padding: 0%;">
      <div style="text-align: center; color: rgb(231, 231, 6); font-size: larger;">Presented By</div>
      <div style="text-align: center; font-size: larger;font-weight: bold;">CAPX CREATIVE CONTEST PVT. LTD.</div>
      <div style="margin-top: 2%;text-align: center;"><img src="assets/image/LOGO2.png" width=40%></div>
    </div>
    <div class="col-md-4 col-sm-4 col-xs-4" style="text-align: center;padding: 0%;">
      <div style="text-align: center; color: rgb(231, 231, 6); font-size: larger;">Payment Partners</div>
      <div style="margin-top: 3%;text-align: center;"><img src="assets/image/cashfreelogo.png" width=65%></div>
    </div>
    <div class="col-md-4 col-sm-4 col-xs-4" style="text-align: center;padding: 0%;">
      <div style="text-align: center; color: rgb(231, 231, 6); font-size: larger;">Get in Touch</div>
      <div style="text-align: center;padding: 0%, display:flex">
      <div class="col-md-1 col-sm-1 col-xs-1" style="padding: 0%;"></div>
        <div class="col-md-2 col-sm-2 col-xs-2" style="padding: 0%;"><a (click)="facebook()" style="cursor:pointer;padding: 0%;"><img width="90%" src="assets/image/Fb.png"/></a></div>
        <div class="col-md-2 col-sm-2 col-xs-2" style="padding: 0%;"><a (click)="facebook()" style="cursor:pointer;padding: 0%;"><img width="90%" src="assets/image/insta.png"/></a></div>
        <div class="col-md-2 col-sm-2 col-xs-2" style="padding: 0%;"><a (click)="facebook()" style="cursor:pointer;padding: 0%;"><img width="90%" src="assets/image/youtube.png"/></a></div>
        <div class="col-md-2 col-sm-2 col-xs-2" style="padding: 0%;"><a (click)="facebook()" style="cursor:pointer;padding: 0%;"><img width="90%" src="assets/image/twitter.png"/></a></div>
        <!-- <div class="col-md-2 col-sm-2 col-xs-2" style="padding: 0%;"><a (click)="facebook()" style="cursor:pointer;padding: 0%;"><img width="90%" src="assets/image/whatsap.png"/></a></div> -->
        <div class="col-md-2 col-sm-2 col-xs-2" style="padding: 0%;"><a (click)="facebook()" style="cursor:pointer;padding: 0%;"><img width="90%" src="assets/image/linkedin.png"/></a></div>
      <div class="col-md-1 col-sm-1 col-xs-1" style="padding: 0%;"></div>
      </div>
    </div>
  </div>

  <div class="col-md-12 col-sm-12 col-xs-12 mobileView" style="padding: 0%; margin-top: 2%;">
    <div class="col-md-12 col-sm-12 col-xs-12" style="text-align: center;padding: 0%;">
      <div style="text-align: center; color: rgb(231, 231, 6); font-size: larger;">Presented By</div>
      <div style="text-align: center; font-size: larger;font-weight: bold;">CAPX CREATIVE CONTEST PVT. LTD.</div>
      <div style="margin-top: 2%;text-align: center;"><img src="assets/image/LOGO2.png" width=40%></div>
    </div>
    <div class="col-md-12 col-sm-12 col-xs-12" style="text-align: center;padding: 0%;">
      <div style="text-align: center; color: rgb(231, 231, 6); font-size: larger;">Payment Partners</div>
      <div style="margin-top: 3%;text-align: center;"><img src="assets/image/cashfreelogo.png" width=55%></div>
    </div>
    <div class="col-md-12 col-sm-12 col-xs-12" style="text-align: center;padding: 0%;">
      <div style="text-align: center; color: rgb(231, 231, 6); font-size: larger;">Get in Touch</div>
      <div style="text-align: center;padding: 0%">
      <div class="col-md-1 col-sm-1 col-xs-1" style="padding: 0%;"></div>
        <div class="col-md-2 col-sm-2 col-xs-2" style="padding: 0%;"><a (click)="facebook()" style="cursor:pointer;padding: 0%;"><img width="90%" src="assets/image/Fb.png"/></a></div>
        <div class="col-md-2 col-sm-2 col-xs-2" style="padding: 0%;"><a (click)="facebook()" style="cursor:pointer;padding: 0%;"><img width="90%" src="assets/image/insta.png"/></a></div>
        <div class="col-md-2 col-sm-2 col-xs-2" style="padding: 0%;"><a (click)="facebook()" style="cursor:pointer;padding: 0%;"><img width="90%" src="assets/image/youtube.png"/></a></div>
        <div class="col-md-2 col-sm-2 col-xs-2" style="padding: 0%;"><a (click)="facebook()" style="cursor:pointer;padding: 0%;"><img width="90%" src="assets/image/twitter.png"/></a></div>
        <!-- <div class="col-md-2 col-sm-2 col-xs-2" style="padding: 0%;"><a (click)="facebook()" style="cursor:pointer;padding: 0%;"><img width="90%" src="assets/image/whatsap.png"/></a></div> -->
        <div class="col-md-2 col-sm-2 col-xs-2" style="padding: 0%;"><a (click)="facebook()" style="cursor:pointer;padding: 0%;"><img width="90%" src="assets/image/linkedin.png"/></a></div>
      <div class="col-md-1 col-sm-1 col-xs-1" style="padding: 0%;"></div>
      </div>
    </div>
  </div>

  <!-- <div style="text-align: center; padding-right: 10%; padding-left: 10%;padding-top: 1%">
    <div style="font-size: 10px;font-weight: 100; ">
        <strong>Copyright © 2019 Captain X Private Limited. All rights reserved.Unless stated otherwise, Captain X is not associated with any regulatory/governing body of any sports and leagues. Captain X also claims no association with any International, National, State, District Level Teams in any sports. 
            Captain X does not claim to offer its service error free, spontaneous, secure, uninterrupted, accurate, reliable and timely. Captain X does not claim to meet the requirement of its captains or the quality of the product of the company.
            However, Captain X always take the best effort to ensure that the Captain X portal will be error-free and secure.
            </strong>
    </div>
  </div> -->
</footer>