.footerContainer{
    // background: black;
    background-color: #1a67cc;
    color: #fff;
    padding-top: 62px;
    font-weight: bold;
    overflow: hidden;
    padding: 20px 10px;
    z-index: 1;
    
}
div {
    padding-left: 5rem;
}
div a{
    
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
    text-decoration: none;
    margin-bottom: 10px;
    display: inline-block; 
}
