<footer class="footerContainer" >
  <div class="container">
    <div class="col-md-4 col-sm-4 col-xs-4">
      <div><a routerLink="/aboutus">About Us</a></div>
      <div><a routerLink="/terms">Terms and Conditions</a></div>
      <div><a routerLink="/aboutus">Captain's Conduct</a></div>
      <div><a routerLink="/terms">Why Captain X?</a></div>
    </div>
    <div class="col-md-4 col-sm-4 col-xs-4">
      <div style="padding-bottom: 1rem;"><img src="assets/image/LOGO2.png" width="150"/></div>
      <div>Social Media Platform</div>
      <div>
        <a (click)="facebook()" style="cursor:pointer"><img style="margin-right: 6px" src="assets/image/facebook.png"/></a>
        <a (click)="google()" style="cursor:pointer"><img style="margin-right: 6px" src="assets/image/google-plus.png"/></a>
        <a (click)="instagram()" style="cursor:pointer"><img style="margin-right: 6px" src="assets/image/instagram.png"/></a>
        <a (click)="telegram()" style="cursor:pointer"><img style="margin-right: 6px" src="assets/image/telegram.jpg" width="25"/></a>
      </div>
    </div>
    <div class="col-md-4 col-sm-4 col-xs-4">
      <div><a routerLink="/legality">Legality</a></div>
      <div><a routerLink="/legality">Fantasy Point System</a></div>
      <div><a routerLink="/faq">FAQ</a></div>
      <div><a routerLink="/contactus">Contact Us</a></div>
    </div>

    <!-- <div class="col-md-1"></div>
    <div class="col-md-3">
      <div>CAPTAIN X on Social Media</div>
      <div style="margin-top: 6px">
        <a (click)="facebook()" style="cursor:pointer"><img style="margin-right: 6px" src="assets/image/facebook.png"/></a>
        <a (click)="google()" style="cursor:pointer"><img style="margin-right: 6px" src="assets/image/google-plus.png"/></a>
        <a (click)="instagram()" style="cursor:pointer"><img style="margin-right: 6px" src="assets/image/instagram.png"/></a>
      </div>
    </div>
    <div class="col-md-3">
      <div><a routerLink="/aboutus">About Us</a></div>
      <div><a routerLink="/terms">Terms and Conditions</a></div>
    </div>
    <div class="col-md-2">
      <div><a routerLink="/faq">FAQ</a></div>
      <div><a routerLink="/legality">Legality</a></div>
      
    </div>
    <div class="col-md-2">
        <div><a routerLink="/contactus">Contact Us</a></div>
        <div><a routerLink="/privacy">Privacy Policy</a></div>
    </div>
    <div class="col-md-1"></div> -->
  </div>
  <!-- <div style="text-align: center; padding-right: 10%; padding-left: 10%;padding-top: 1%">
    <div style="font-size: 10px;font-weight: 100; ">
        <strong>Copyright © 2019 Captain X Private Limited. All rights reserved.Unless stated otherwise, Captain X is not associated with any regulatory/governing body of any sports and leagues. Captain X also claims no association with any International, National, State, District Level Teams in any sports. 
            Captain X does not claim to offer its service error free, spontaneous, secure, uninterrupted, accurate, reliable and timely. Captain X does not claim to meet the requirement of its captains or the quality of the product of the company.
            However, Captain X always take the best effort to ensure that the Captain X portal will be error-free and secure.
            </strong>
    </div>
  </div> -->
</footer>