<app-header></app-header>

<div style="overflow: hidden; height: 32.5vmax; width: vmax;">
  <div class="row">
      <div class="col-md-1"></div>
  <div class="col-md-9" style="width: inherit;padding: 2%;">
    <div style="width: 100%;padding: 1%;"><span style="font-size: xx-large; font-weight: bolder">Write to us</span></div>
    <div style="width: 100%;padding: 1%;"><span style="font-size: large; font-weight: bolder">Your mail id</span></div>
    <div style="width: 100%;padding: 1%;"><input type="text" name="mailId" style="width:500px;" placeholder="write your mail id here..." /></div>
    <div style="width: 100%;padding: 1%; padding-top: 2%;"><span style="font-size: large; font-weight: bolder">Message</span></div>
    <div style="width: 100%;padding: 1%;"><textarea style="width:inherit; height: 100px;"> </textarea></div>
    <!-- <div 
    style="
    font-size: large; 
    font-weight: bolder; 
    background: rgb(31, 236, 243); 
    width: 10%;
    border-radius: 15%; 
    padding-left: 2%;
    "
    >Submit</div> -->
    <div style="padding-left: 2%">
        <button class="btm btn-primary" 
        style="
        font-size: large; 
        font-weight: bolder; 
        background: rgb(16, 129, 182); 
        border: 0;
        border-radius: 10%;
        padding: 1%;
        width: 10%;
        ">Submit</button>
    </div>
    
  </div>
  <div class="col-md-2"></div>
  </div>
</div>