<app-header></app-header>
<div class="container" style="padding-bottom: 20px; text-align: justify;">

  <h1 style="font-weight: bolder;">About the Company</h1>  
  <h2>Welcome to Captain X</h2>
 
  <p>
    It is to be believed in India that we, the Indians not only watch cricket; we Live in Cricket, we eat with cricket, we sleep with cricket. Not a single child can be found in any corner of our country, who never-ever thought to become a cricketer at least once in his life. Not a single day has arrived in India when Cricket is not being played anywhere. And in future, not a single such day will come. For us, it seems, being the Captain of Indian Cricket Team is the greatest reward anyone can ever imagine. The day India won the World Cup for the 1st time at Lords in 1983, started a new era in Indian Cricket. When India won the 2nd World Cup at Wankhede in 2011 the whole country became mad. Since then, every single cricket player dreamed of becoming the Dhoni of 2011 or Kapil of 1983.    
    We, the creators of Captain X, bring you the opportunity to have the taste of becoming the Captain you desire. Keeping these in mind, we created an online based fantasy gaming platform under the banner of “Cap X Creative Contest Private Limited”. The time has come for you to bring out the hidden Captain within you. Join Captain X. Create your fantasy team. Play against other captains. And win the “CLASH OF CAPTAINS”.  
  </p>
  
  <h1 style="font-weight: bolder;">     Why Captain X?</h1>

  
    In Captain X we always value our Captains above all. For that we bring some extra and unique features which will benefit our captains more. 
    <ol>
      <li>Various types of Tournaments: We provide various types of tournaments in Captain X. Any captain can join any type of tournament with any entry fee given in the list. We also provide different varieties in case of entry fee which will cause more winners.</li>
      <li>More winners in every tournament: In Captain X, we try to make more winners in every tournament. For that, in every tournament more at least 50% of Captains can be winners. </li>
      <li>Bonus: Captain X will not only send gifts. But also gives a huge amount of bonus cash to every captain. The details are elaborated in Promotional pages.</li>
      <li>Referral System: Any captain can refer their friend and collect up to 120% bonus of their deposited amount for every friend that plays and deposits minimum Rs. 100/- in their own Captain X profile.
        Example: Suppose A refers B. And B Joins Captain X. A will start getting the referral bonus as soon as B makes 1st deposit of Rs. 100/- in one go. And B will get up to 320% deposit bonus as soon as he deposits Rs. 100/- at one go.</li>
      <li>Safety Measurements: Captain X will never disclose any of its captain’s data to any third party without written consent from the captain. Captain X also provides a secure third-party payment gateway for transactions which ensures the privacy of the captain’s whereabouts.</li>
      </ol>

  <h1 style="font-weight: bolder;">About the Team: </h1>
  <ul>
    <li>Directors
      <ol>
        <li>Smt. Sangita Das: Director</li>
        <li>Smt. Sutapa Mukherjee: Director</li>
      </ol>
    </li>
    <li>Founders of the Company.
      <ol>
        <li>Debodyuti Das Mandal: CEO</li>
      </ol>
    </li>
  </ul>       
    
  <h1 style="font-weight: bolder;">Work Culture: </h1>
   <ul>
    <li>Home away from home: We, the founders of Captain X do not believe in a serious office environment. What we believe is, to work smart one needs to be given the right atmosphere to work. With the help of our superb design team we created a spectacular homely atmosphere to work. Where anyone can utilize their full potential as a part of the team.</li>
    <li>Value for Team work: “Talent wins games, but teamwork and intelligence wins championship.” – Michael Jordon. Individual talent is important. But what is more important to us is work as a team towards the same goal. In Captain X everything we achieve, we do it as a team.</li>
    <li>Creative mind is the winner of all:  It takes a lot to create something. A creative mind is always the pillar of success. And in Captain X we cherish our team mates to use their creativity and deliver our attractive website and application for your utilization.</li>
    <li>We do not believe in HARDWORK, we believe in SMARTWORK: Smart-work is nothing but Hard-work using knowledge and intelligence. One can achieve anything by working hard, but by working smart the person can achieve the same output in a lot lesser time. In Captain X we always encourage people to use smart-working.</li>
    <li>Flexibility is always the key to success: A flexible mind with a flexible attitude can adopt anything, whereas a rigidity in the working place can turn the most intelligent & resourceful person to fall. To ensure and enhance the creativity of our teammates we always make sure that all our colleagues always become flexible to work under any atmosphere.</li>
    <li>We want to make a difference in Society: From our childhood we are being taught that Humans are social beings, and all of us have some social responsibilities. And now, when we all become grown-up people, we make sure that those lessons won’t go wasted. In Captain X we have a separate team who are looking after the Social Responsibilities and organise various social events. We work with different groups as well as individually to make a better society. Our works will be posted in our web blog from time to time.</li>
    <li>Women Empowerment: India is a matriarch country. From ancient period to recent era, women had worked shoulder to shoulder with men. In Captain X, we work towards the empowerment and development of the women of our country.</li>
    <li>Freedom of work: In Captain X we provide our employees to work independently. To enhance the quality of the work and increase the creative capacity of our employees we make sure that everyone can work without restrictions but with responsibility. We also admire and welcome new concepts, new thoughts. </li>
   </ul>

  <h1 style="font-weight: bolder;">About Mission and Vision:</h1> 
   
  There is a reason why sports bring the best from any person. Though sports are mainly involving physical activity, in modern sports tactics, strategies, planning plays a lot more role. By making a sports related gaming platform, Captain X provides the opportunity to every Captain to enhance their skills, knowledge and management prospect within themselves. We aim to reach every home from Himalaya to Kanyakumari and from Thor to Arunachal (Except for those states where laws don’t permit us to play fantasy sports). And by doing this, we can give everyone an opportunity to enhance their skills and then earn by using these skills.
 
<h2>Mission:</h2>
<p>India is a Cricket crazy country. Thus, almost all the citizens of India are involved in cricket related activities. We are providing opportunities to common people to earn some money by using their knowledge and skill of sports.</p>
<p>Also through this game people can practice and enhance their strategic ability and skill related to cricket.</p>
 
<h2>Vision:</h2>
<p>With the help of proper R&D and Marketing promotion, we will reach out at the position from where we can place ourselves within the top five positions in this sector in near future.</p>
 
<p>India is not only a growing sector of fantasy games but also it has a huge amount of sports loving people. Captain X will be a promising, trustworthy and long lasting platform for those people who have their profession in different industries but pampers the love for Cricket in their heart for their whole life. By creating Captain X we will provide the opportunity to those cricket passionate people to make an attachment with cricket oriented activities along with us to nurture their passion in the long term.</p>
 
<p>We will also be very happy to carry a strong wish to contribute some of our profit percentage to make development of underprivileged people of India. As Captain X believes that happiness can be completed only when we will be happy as a whole, not a part.</p>

   
  <h1 style="font-weight: bolder;">Contact Captain X: Contact us on support@captainxcc.com</h1>
   
   
   
 <h1 style="font-weight: bolder;">Disclaimer: </h1> 
 <p>
  Unless stated otherwise, Captain X is not associated with any regulatory/governing body of any sports and leagues. Captain X also claims no association with any International, National, State, District Level Teams in any sports. 
  Captain X does not claim to offer its service error free, spontaneous, secure, uninterrupted, accurate, reliable and timely. Captain X does not claim to meet the requirement of its captains or the quality of the product of the company.
  However, Captain X always takes the best effort to ensure that the Captain X portal will be error-free and secure.  
 </p>
  
</div>