<app-header></app-header>
<div>
  <div class="web">
    <img src="assets/image/FPS-web.JPG" width=100%>
  </div>
  <div class="mobile">
    <img src="assets/image/FPS-web-mobile.JPG" width=100%>
  </div>
</div>
<!--div class="container" style=" text-align: justify;">
  <div class="container" style="padding-top: 3%; padding-bottom: 3%;">
<span class="giftFont">Fantasy Point System:</span>

<table>
  <tr><th>BATTING POINTS</th></tr>
  <tr><th>PARTICULARS</th><th>T20</th><th>ODI</th><th>TEST</th></tr>
  <tr><td>EVERY RUN</td><td>1</td><td>1</td><td>1</td></tr>
  <tr><td>EVERY 4</td><td>2</td><td>2</td><td>2</td></tr>
  <tr><td>EVERY 6</td><td>3</td><td>3</td><td>3</td></tr>
  <tr><td>DUCK (only for WK, Batsman & Allrounder)</td><td>-2</td><td>-4</td><td>-5</td></tr>
  <tr><td>FOR EVERY 25 RUNS</td><td>5</td><td>4</td><td>3</td></tr>
  <tr><th>STRIKE RATE (EXCEPT BOWLERS)</th><th>MIN 10 BALLS</th><th>MIN 25 BALLS</th><th>MIN 50 BALLS</th></tr>
  <tr><td>BELOW 50</td><td>-8</td><td>-4</td><td>-2</td></tr>
  <tr><td>50-70</td><td>-4</td><td>-2</td><td>0</td></tr>
  <tr><td>70-90</td><td>-2</td><td>0</td><td>0</td></tr>
  <tr><td>90-110</td><td>0</td><td>2</td><td>0</td></tr>
  <tr><td>110-130</td><td>2</td><td>4</td><td>6</td></tr>
  <tr><td>130-150</td><td>4</td><td>8</td><td>10</td></tr>
  <tr><td>ABOVE 150</td><td>8</td><td>12</td><td>14</td></tr>
  <tr><th>BOWLING POINTS</th></tr>
  <tr><td>PER WICKET (EXCEPT RUN OUT)</td><td>20</td><td>20</td><td>25</td></tr>
  <tr><td>PER DOT BALL</td><td>1</td><td>0.5</td><td>0</td></tr>
  <tr><td>PER MAIDEN OVER</td><td>6</td><td>4</td><td>1</td></tr>
  <tr><td>3 WICKETS</td><td>20</td><td>20</td><td>20</td></tr>
  <tr><td>4 WICKETS</td><td>20</td><td>20</td><td>20</td></tr>
  <tr><td>5 WICKETS</td><td>20</td><td>20</td><td>20</td></tr>
  <tr><td>FOR EVERY WICKET AFTER 5TH</td><td>20</td><td>20</td><td>20</td></tr>
  <tr><th>ECONOMY RATE</th><th>MIN 1 OVER</th><th>MIN 3 OVERS</th><th>MIN 10 OVERS</th></tr>
  <tr><td>BELOW 3</td><td>10</td><td>5</td><td>2</td></tr>
  <tr><td>3-5</td><td>6</td><td>2</td><td>0</td></tr>
  <tr><td>5-7</td><td>2</td><td>0</td><td>0</td></tr>
  <tr><td>7-9</td><td>0</td><td>-2</td><td>-4</td></tr>
  <tr><td>9-11</td><td>-4</td><td>-4</td><td>-8</td></tr>
  <tr><td>MORE THAN 11</td><td>-8</td><td>-8</td><td>-12</td></tr>
</table>

<strong>OTHER POINTS:</strong>
<ol>
  <li>RUN OUT DIRECT: 12</li>
  <li>RUN OUT, THROWER/RECEIVER: 6/6</li>
  <li>CATCH: 12</li>
  <li>STUMP: 12</li>
  <li>FOR BEING IN STARTING XI: 2</li>
  <li>MAN OF THE MATCH: 20</li>
</ol>
<ul>
  <li>CAPTAIN WILL GET 2X POINTS</li>
  <li>VICE CAPTAIN WILL GET 1.5X POINTS</li>
</ul>
  </div>
</div-->