<app-header></app-header>
<div  style="margin: 3%; text-align: justify;">
  <div style="font-size: 120%">
      <span class="giftFont">Captains’ Guide Book</span>  
      <br/>
      <br/>
      <ol>
            <li style="padding-bottom: 1%;" style="padding-bottom: 1%;">
All captains agree to provide true, accurate, most recent and complete information at any point of time in their association with Captain X.
</li>
<li style="padding-bottom: 1%;">A captain should be at least 18 years old at the time of registration in Captain X. No minor (below 18 years) account will be accepted and entertained.
    </li>
    <li style="padding-bottom: 1%;">A captain must not register or operate more than one account in Captain X.
        </li>
        <li style="padding-bottom: 1%;">Captain X will send various e-mails, SMSs to the captains related to any modification, addition, deletion of any service or contents and promotional mails. Captain X will not be held responsible if any captain does not read the relative e-mails or SMSs. Captain X also not be liable if any e-mail goes to spam or junk folder of any captain. We suggest that you should mark the Captain X e-mails in ‘safe sender’ list so that the mails from Captain X would not go into your Spam mail.
            </li>
            <li style="padding-bottom: 1%;">Every Captain agrees not to share their password and other account related information with others.
                </li>
                <li style="padding-bottom: 1%;">A captain agrees not to use other than his/her own account in Captain X.
                    </li>
                    <li style="padding-bottom: 1%;">In case of any security breach or hacking into any captain’s account he/she must immediately inform Captain X about the same.
                        </li>
                        <li style="padding-bottom: 1%;">All captains are solely responsible for handling their own account.
                            </li>
                            <li style="padding-bottom: 1%;">Any use of reverse engineer, cheat-code, software, hacking, automation, internet bots, unauthorised third-party software or content or material by any captain is strictly prohibited. Violation of this will surely leads to legal steps against the captain.
                                </li>
                                <li style="padding-bottom: 1%;">All captains are advised to choose the username wisely. A user name (Team Name) should not be abusive, indecent or may leads or give hints to racism, communism or insulting towards any culture, race, community. Captain X reserves all rights to change such usernames without prior permission immediately. However, if this happens Captain X will notify the captain in their registered mail id. The changed username will be selected randomly, and system generated.
                                    </li>
                                    <li style="padding-bottom: 1%;">All captains are advised to keep the copy of all transactions he/she is making with Captain X.
                                        </li>
                                        <li style="padding-bottom: 1%;">All captains are also advised to keep a copy of all the documents related to Company Policies, Terms and Conditions, Rules and regulations of playing, and Fantasy Point System details. Under no circumstances Captain X will be held responsible if a Captain continues his playing without reading/knowing the proper terms and conditions.
                                            </li>
                                            <li style="padding-bottom: 1%;">All captains must agree to log out/sign out (after they use or log in/sign in into their account in Captain X) their Captain X account every time. Captain X will not be held responsible in any way, if any captain does not logout their account after using and someone else has accessed their account.
                                                </li>
                                                <li style="padding-bottom: 1%;">All captain must agree not to copy, modify, loan, sell, lease, rent any part of Captain X property (Including all Software, Coding, AIs, UIs, Files and all other movable and immovable properties)
                                                    </li>
                                                    <li style="padding-bottom: 1%;">The gifts, which will be sent to the captains for fulfilling the conditions of playing in Captain X, are only for company’s marketing, promotional purpose. Any personal marketing or promotion using these gifts will not be entertained. 
                                                        </li>
                                                        <li style="padding-bottom: 1%;">All captains must agree to receive the gifts in their name and their official residential address only. All the gifts will be sent to the captains by trackable courier service or via speed post. Captain X has the sole and absolute authority to decide about the mode of transportation for sending gifts. Under no circumstances the cost of the courier service/speed post will be collected/charged form any captain.   
                                                            </li>
                                                            <li style="padding-bottom: 1%;">All captains must agree not to engage any illegal activity, offensive, racism, communal, ani-national activity, threatening other users, restrict/hacking other users. 
                                                                </li>
                                                                <li style="padding-bottom: 1%;">Captain X will use the secured third-party payment gateway for money transaction. All captains must agree to the fact that they will have no obligation during such transaction and they will share the necessary information for the transaction with captain X.
                                                                    </li>
                                                                    <li style="padding-bottom: 1%;">All transaction, once done, no cancellation will be permitted after that.
                                                                        </li>
                                                                        <li style="padding-bottom: 1%;">All captains must agree to the fact that they are willingly participating in the tournaments in Captain X and they use their skills and sports knowledge while playing. All captains are bound to the rules and regulations of the Captain X and they are voluntarily participating in the tournaments accepting the risks.
                                                                            </li>
                                                                            <li style="padding-bottom: 1%;">Once the game starts and any captain is not been able to play due to any reason, Captain X will not be responsible for that. 
                                                                                </li>
                                                                                <li style="padding-bottom: 1%;">All captains must agree that, by participating tournaments in Captain X portal they may face loss of money and they have no obligation for the risk.  
                                                                                    </li>
                                                                                    <li style="padding-bottom: 1%;">By providing your mobile number and e-mail id you agree to receive all the promotional mails or SMSs which will be sending by Captain X.
                                                                                        </li>
                                                                                        <li style="padding-bottom: 1%;">Any captain can withdraw the winning amount only after the verification of his details such as PAN Card, Mobile Number, e-mail id and Bank account. 
                                                                                            </li>
                                                                                            <li style="padding-bottom: 1%;">Gifts related to various promotional events will only be sent to those captains who have verified their address. In any case any captain does not have Aadhar card and he/she is eligible for gifts, then he/she must write to Captain X along with other documentary evidence of Government authorised address proof. 
</li>
</ol>
  </div>
</div>
