<app-header></app-header>
<div style="margin: 3%;">

<h1>Why CAPTAIN X?</h1>  
        In Captain X we always value our Captains above all. For that we bring some extra and unique features which will benefits our captains more. 
        <ol>
            <li>
              Various types of Tournaments: We provide various types of tournaments in Captain X. Any captain can join any type of tournament with any entry fee given in the list. We also provide different variety in case of entry fee which will cause more winners.
            </li>
            <li>
              More winners in every tournament: In Captain X, we try to make more winners in every tournament. For that, every tournament is created in that way.
            </li>
            <!-- <li>
              Gifts: It’s better to gain something rather than nothing. We always believe in that. So, Captain X always send various gifts to every captain depending upon the conditions which is elaborated in Captain X website, Gift Page. There is no hidden cost. There is no any other charges. Captains do not have to pay anything for getting a Gift. All the gifts will be sent to the captains in company’s cost. The captains only have to fulfil the conditions for those gifts.
            </li> -->
            <li>
              Bonus: Captain X will not only send gifts. But also give huge amount of bonus cash to every captain. The details are elaborated in Promotional pages.
            </li>
            <li>
              Referral System: Any captain can refer their friend and collect up to 120% bonus of their deposited amount for every friend that plays and deposits minimum Rs. 100/- in their own Captain X profile.
              Example: Suppose A refers B. And B joins Captain X. A will start getting the referral bonus as soon as B makes 1st deposit of Rs. 100/- in one go. And B will get up to 320% deposit bonus as soon as he deposits Rs. 100/- at one go.
            </li>
            <li>
              Safety Measurements: Captain X will never disclose any of its captain’s data to any third party without written consent from the captain. Captain X also provides a secure third-party payment gateway for transaction which ensures the privacy of the captain’s whereabouts.
            </li>
        </ol>

</div>