<!-- <app-maintainance></app-maintainance> -->

<!-- https://www.npmjs.com/package/ng-image-slider -->
<!-- <div style="width: 840px; height: 500px; text-align:center;margin:0; padding:0;">
    <ng-image-slider #nav
    [images]="imageObject"
    [infinite]="true"
    [autoSlide]="1"
    [animationSpeed]="1"
    [imageSize]="{width: '33.33%', height: 200}"
    [slideImage]="1"></ng-image-slider>
  </div> -->


  
<div id="mySidebar" class="sidebar">
  <!-- <a href="javascript:void(0)" class="closebtn" (click)="closeNav()">×</a> -->
  <a href="#">About</a>
  <a href="#">Services</a>
  <a href="#">Clients</a>
  <a href="#">Contact</a>
</div>

<div id="main">
  <button class="openbtn" (click)="openNav()">☰ Open Sidebar</button>  
  <h2>Collapsed Sidebar</h2>
  <p>Click on the hamburger menu/bar icon to open the sidebar, and push this content to the right.</p>
</div>