<app-header></app-header>
<div class="container" style=" text-align: justify;">
  <div class="container" style="padding-top: 3%; padding-bottom: 3%;">
      <span class="giftFont">A. Captain X General Terms and Conditions and Usage of Captain X:</span>  
      <br/>
      <br/>

<ul>	Any person utilizing Captain X (CapX Creative Contest Private Limited) website, mobile applications and other services provided by the company is bound to abide by the rules and regulations (Terms and Conditions of using Captain X) of the company. This is the primary terms and conditions between the company and the user (From now on the users of the Captain X will be called as ‘Captain’).
<li>Captain X will be entitled to modify, add, delete any terms and condition of the company or terms and conditions related to any services of the company at any given point of time. The modified terms and conditions will be updated on Captain X webpage at the earliest.</li>
<li>Captain X may, at any time,</li>
<ol>Restrict, reject, terminate, suspend any Captain’s account from all or any Captain X services.</ol>	
<ol>Modify, terminate or discontinue any or all Captain X service.</ol>	
<ol>Modify, add, delete, move any content that is provided by any captain in Captain X.</ol>	
<ol>Remove, update, add any content that is being available in Captain X.</ol>	
<li>If any Captain’s account will be deactivated or removed or deleted from Captain X, then the winning amount and deposited amount of the captain’s wallet will be refunded to the captain’s bank account that is provided on Captain X. However, the bonus amount of the captain’s wallet which has been given by the company will not be provided to the captain. 
In any case deactivated or deleted captain did not provide his bank account, or the captain does not have a bank account he/she can write to us on support@captainxcc.com.<br/>
<strong>
    N.B: - If a captain is awaiting any gift and his/her account got deactivated/deleted due to any misconduct of terms and conditions or any breach of terms and conditions, hacking any of Captain X service or illegal activities (if the company reasonably thinks so) the gift will be cancelled. If the gift has already dispatched via post/courier to the deactivated/deleted captain, then the captain may have to pay the postal charges along with the cost of the gift. In case of any violation of this Captain X may take legal steps against the captain if necessary.
</strong>
</li>
<li>Captain X will be sending gifts to its captains for fulfilling the criteria. Every captain must agree to the fact that these gifts are only for marketing and promotional purpose of Captain X. Under no circumstances Captain X will be charging any amount from its captains for sending gifts.  </li>
<li>Captain X will not be responsible for any kind of loss due to hacking, natural calamities, disaster, civil war or any kind of other uncontrollable factors and atmosphere.</li>
<li>By accessing this website, we assume you accept these terms and conditions in full. Do not continue to use Captain X website if you do not accept all the terms and conditions stated on this page.</li>

</ul>

<span class="giftFont">B.	Rights of Captain X:</span>

<ul>
<li>Captain X will be entitled to modify, add, delete any terms and condition of the company or terms and conditions related to any services of the company at any given point of time.
</li>
<li>Captain X may, at any time,
<ol>Restrict, reject, terminate, suspend any Captain’s account from all or any Captain X services.
</ol>	
<ol>Modify, terminate or discontinue any or all Captain X service.
</ol>	
<ol>Modify, add, delete, move any content that is provided by any captain in Captain X.
</ol>	
<ol>Remove, update, add any content that is being available in Captain X.</ol>
</li>
<li>Captain X has the sole and absolute authority to implement the rules about sending gifts to the captains. Gifts will be sent to the captains by fulfilling the certain criteria which is clearly mentioned in the portal. These gifts will be sent via trackable courier service or speed post depending upon the availability of that courier/postal service in the captains’ location. The cost of transportation will not be charged to the captains.
</li>
<li>Captain X only reserves the right to Add, Delete, Modify any terms related to gifts without informing its captains. 
</li>
<li>Captain X has the sole and absolute rights to Delete, Deactivate, Block any captains account for
<ol>Illegal activities, Breaches, Hacking, Reverse engineering, Manipulating, Using Cheat codes, Using Internet Bots, Using Captain X portal for personal marketing and promotion, Involved in Terrorism, Violation of any Terms and Conditions, trying to gain unauthorised access in the portal.
</ol>	
<ol>Using multiple accounts
</ol>	
<ol>Unauthorised transactions
</ol>	
<ol>If the captain is minor (below 18 years)
</ol>	
<ol>Using any unauthorised software in the Captain X portal, download any content which is not permissible, 
</ol>	
<ol>For any activity, which Captain X reasonable believe, is against/violation of any law, rules and regulations of Captain X.
</ol>	
<ol>To engage in any communal, anti-national, racism, indecent, offensive, abusive, objectionable activity.
</ol>	
<ol>Copy, modify, loan, sell, lease, rent any part of Captain X property (Including but not limited to all Software used by Captain X, Coding, AIs, UIs, Files and all other movable and immovable properties)
</ol>	
<ol>tampering with the portal
</ol>	
<ol>manipulate, forge, hide the identity of the captain</ol>
</li>
<li>Captain X has the sole and absolute authority to Add, Modify, Delete any tournament or match in the portal.
</li>
<li>Captain X has the sole and absolute authority to set the rules and regulations of game play including, but not limited to, entry fee, number of participants, winning amount, number of winners, Scoring.
</li>
<li>Captain X has its sole and absolute authority to make changes in the player database at any given point of time.
</li>
<li>Captain X has the sole and absolute authority to decide about the rules and regulations and the type of gifts. 
</li>
<li>Captain X has the sole and absolute authority to decide about the rules and regulations about providing bonus amount.
</li>
<li>In any case, Captain X finds any error in the Captain X services, portal, game play, transactional error, Captain X reserves the right to rectify those error in such way the company thinks it seems fit without prior notification to any captain.
</li>
<li>Captain X provides online based fantasy games which is purely based on skill and knowledge. In any case, Captain X finds that any tournament that is being uploaded in the portal creates conflict with any law, Captain X reserves the right to remove the tournament immediately without being informed its participants and winners. All the captains agree to not claim anything against it or challenge the decision made by Captain X.
</li>
</ul>

<span class="giftFont">C.	Intellectual Property Rights:</span>
<p>
Captain X (including all its associates, partners) only, in its sole and absolute authority, reserves the right for all the services and materials it offers, including (but not limited to) games, design, portal, tournaments, software, advertisements, contents, photographs, audio & video clips, graphics, animations, plans, ideas, financial documents, watermarks, logos, splash screens, player database, methodology. 

All captains are prohibited to modify, delete, add, copy, move, exploit any of the contents or materials used in Captain X without written permission from the company. All the captains agree to the terms that they will not contravene any of our intellectual property provided at our portal.
</p>

<span class="giftFont">D.	Third Party Products, services:</span>
<p>
Captain X may use the contents which is provided by the third parties. We are not liable or hold no responsibility to any third-party content which is being provided in Captain X. All the captains will agree to that they rely on the third-party contents at their own risk. We do not guarantee any quality, accuracy, reliability to any third-party content.

Captain X holds all rights to remove, block, reject, delete, modify any third-party content without the prior permission/information to the party.
</p>

<span class="giftFont">E.	Limitation of liabilities:</span>
<ul>
<li>Captain X will not be liable for any captains’ loss or any damage for using Captain X. All captains must agree that they will use and play Captain X at their own risk.</li>
<li>Captain X will not be liable for any error from the part of Captain X or its associates.</li>
<li>Captain X will not be liable for any content or data which has been provided by any third party (including but not limited to its associates, captains).</li>
<li>Captain X will not be liable if any captain uses its service without reading the terms and conditions.</li>
<li>Captain X will not be liable for any loss or damage for uncontrollable events including but not limited to power breakdown, riots, war, earth quakes, flood, civil war.</li>
<li>Captain X will not be liable for any loss in case of transaction if the problem arises from the bank’s part or if the captain has provided the details wrongly.</li>
<li>Captain X will not be liable if the gifts will not be reached to the captains due to the fault from the couriers’ end. </li>
</ul>


<span class="giftFont">F.	Registration & Personal Information:</span>
<br />
    A captain can register into Captain X by providing the following information:
    <ul>
      <li><strong>Full Name:</strong> Full name is necessary to create the account in Captain X</li>
      <li><strong>Mail id:</strong> Mail id is required for verification as well as all further activities in Captain X. You will get e-mails for various promotional activities, information about upcoming tournaments, Gifts and all other communication form Captain X over the time.</li>
      <li><strong>Mobile Number:</strong> Mobile number is required for the verification and various information related to promotional activities and related to other communication.</li>
      <li><strong>Date of Birth:</strong> No captain of below 18 years old are not allowed to create any account in Captain X.</li>
      <li><strong>Pan number:</strong> There will be cash transaction in Captain X. According to the Government rules PAN number will be required in case of the amount of the transaction will go over Rs. 10,000/-. </li>
      <li><strong>Residential Address:</strong> Captain X will be sending various gifts in various stages and occasions to each Captain (Some of the gifts will be provided by fulfilling the criteria and some the occasional gifts will be send to every captains). By providing the address proof you are confirming your official address. All captains are requested to provide the Pin Code of their residential address. </li>
      <li><strong>Gender:</strong> There will be some gifts which Captain X will provide the captains from time to time. Some of the gifts will be gender specific. Such as T-shirt, Bag etc. For that you need to mention your gender.</li>
      <li><strong>Photos of Captain:</strong> Captain X may contact its captains for their photos, which will be updated in Captain X website and social site pages for marketing and promotional purpose only. These photos will not be used for any other purpose and shared with any third party without the written approval from the captain through mail.</li>
    </ul>

    <span class="giftFont">G.	Tournaments, Participation and prizes:</span>
<br />
Captain X brings you enormous number of tournaments to participate in every match. To make the tournaments more user-friendly we have created various types of tournaments. We have sorted the types by number of participants in every tournament. We have some confirmed winning tournaments as well as non-confirmed winning tournaments. Confirmed tournaments are marked by ‘C’.

All the captains can create their fantasy teams including the real-life players for a selected match. The rules for selecting players are as below:

<ul>
  <li>For Cricket – 1 wicket Keeper, 3-5 Batsmen, 1-3 All-rounders and 3-5 Bowlers</li>
  <li>For Football – 1 Goal Keeper, 3-5 Defenders, 3-5 Midfielders and 1-3 Strikers</li>
</ul>

During the match, Fantasy Points will be given to the players as per the Captain X Fantasy Points System and their real-life performance in the match. After the match, the total fantasy points of all the players will be calculated and accordingly winner will be declared for each tournament. To take part in these paid tournaments all the captains need to pay an entry fee which is mentioned in the tournament when the tournaments created. All captains must agree by the rules and regulations of each tournament before paying the entry fee.   

Any captain can join/participate any tournament which is provided in our website/application in our tournament page. For a particular match, a Captain can join maximum 200 tournaments and the upper limit of summation of all Entry Fees is Rs. 40,000/-. 

Every captain can create maximum Five (5) teams per match.

For every match, prizes will be declared as per the rules of the tournament after finishing of the match. These rules (including but not limited to number of winners, entry fee for joining the tournament, number of participants, total winning amount) of winning will be set before the match starts. In case of tie, the total winning amount will be distributed among the captains. There are some tournaments in which multiple winners will be granted winning prize. For every multi-winner tournament, the winning prize will be declared when the tournament will be created. All the captains are advised if he/she cannot see the winning prize before entering the tournament, he/she must not take part on that tournament and contact Captain X immediately. 

<br/>

<span class="giftFont">H.	Fantasy Point System:</span>

<table>
  <tr><th>BATTING POINTS</th></tr>
  <tr><th>PARTICULARS</th><th>T20</th><th>ODI</th><th>TEST</th></tr>
  <tr><td>EVERY RUN</td><td>1</td><td>1</td><td>1</td></tr>
  <tr><td>EVERY 4</td><td>2</td><td>2</td><td>2</td></tr>
  <tr><td>EVERY 6</td><td>3</td><td>3</td><td>3</td></tr>
  <tr><td>DUCK (only for WK, Batsman & Allrounder)</td><td>-5</td><td>-5</td><td>-5</td></tr>
  <tr><td>FOR EVERY 25 RUNS</td><td>5</td><td>4</td><td>3</td></tr>
  <tr><th>STRIKE RATE (EXCEPT BOWLERS)</th><th>MIN 10 BALLS</th><th>MIN 25 BALLS</th><th>MIN 50 BALLS</th></tr>
  <tr><td>BELOW 50</td><td>-8</td><td>-4</td><td>-2</td></tr>
  <tr><td>50-70</td><td>-4</td><td>-2</td><td>0</td></tr>
  <tr><td>70-90</td><td>-2</td><td>0</td><td>0</td></tr>
  <tr><td>90-110</td><td>0</td><td>2</td><td>0</td></tr>
  <tr><td>110-130</td><td>2</td><td>4</td><td>6</td></tr>
  <tr><td>130-150</td><td>4</td><td>8</td><td>10</td></tr>
  <tr><td>ABOVE 150</td><td>8</td><td>12</td><td>14</td></tr>
  <tr><th>BOWLING POINTS</th></tr>
  <tr><td>PER WICKET (EXCEPT RUN OUT)</td><td>8</td><td>10</td><td>12</td></tr>
  <tr><td>PER DOT BALL</td><td>1</td><td>0.5</td><td>0</td></tr>
  <tr><td>PER MAIDEN OVER</td><td>6</td><td>4</td><td>1</td></tr>
  <tr><td>3 WICKETS</td><td>10</td><td>8</td><td>6</td></tr>
  <tr><td>4 WICKETS</td><td>8</td><td>12</td><td>14</td></tr>
  <tr><td>5 WICKETS</td><td>12</td><td>10</td><td>8</td></tr>
  <tr><td>FOR EVERY WICKET AFTER 5TH</td><td>12</td><td>10</td><td>8</td></tr>
  <tr><th>ECONOMY RATE</th><th>MIN 1 OVER</th><th>MIN 3 OVERS</th><th>MIN 10 OVERS</th></tr>
  <tr><td>BELOW 3</td><td>6</td><td>4</td><td>2</td></tr>
  <tr><td>3-5</td><td>4</td><td>2</td><td>0</td></tr>
  <tr><td>5-7</td><td>2</td><td>0</td><td>0</td></tr>
  <tr><td>7-9</td><td>0</td><td>-2</td><td>-2</td></tr>
  <tr><td>9-11</td><td>-2</td><td>-4</td><td>-6</td></tr>
  <tr><td>MORE THAN 11</td><td>-4</td><td>-8</td><td>-10</td></tr>
</table>

<strong>OTHER POINTS:</strong>
<ol>
  <li>RUN OUT DIRECT: 8</li>
  <li>RUN OUT, THROWER/RECEIVER: 4/4</li>
  <li>CATCH: 8</li>
  <li>STUMP: 8</li>
  <li>FOR BEING IN STARTING XI: 2</li>
  <li>MAN OF THE MATCH: 10</li>
</ol>
<ul>
  <li>CAPTAIN WILL GET 2X POINTS</li>
  <li>VICE CAPTAIN WILL GET 1.5X POINTS</li>
</ul>

<span class="giftFont">I.	Important Features of Captain X:</span>
<ol>
  <li>Bonus:</li>
  <li>Level:</li>
  <li>Ranking:</li>
  <li>Tournament Types:</li>
  <li>Gifts:</li>
  <li>Percentage of Winners:</li>
</ol>

<span class="giftFont">J.	Eligibility of a Captain:</span>
<br/>
The basic criteria of a Captain as follows:
<ol>
  <li>A Captain needs to be at least 18 years old to create an account in Captain X.</li>
  <li>A captain must have PAN card and Aadhar Card.</li>
  <li>A captain must have an e-mail id and mobile number.</li>
  <li>A captain should not belong to the prohibited states.</li>
</ol>

<span class="giftFont">K.	Payment:</span>
<br/>
A captain can deposit money into his wallet using his/her Debit Card, Credit Card, Net Banking and Other methods of payment like Paytm, PPIs etc. A captain should use his/her own account during payment. If any captain uses another person’s credentials to make payment, then the captain should take a written permission from the person. We may, if necessary, can ask the captain for that written approval. Captain X will not be held responsible in any way if any captain violets this rule.

All the captains should agree to the following points during making payments for any entry fee
 	Payments made by captains as entry fee is including service charges and all other charges related to use of Captain X portal and other services.
 	Payments made by captains as entry fee will be separately kept from other funds of the company until the winner is declared and winning amount is distributed. 
 	Bonus amount can only be used in those tournaments which have more than 25 participants.
 	During paying entry fee in those tournaments which have more than 25 participants, first bonus amount will be deducted, then deposited amount will be deducted and finally winning amount will be deducted from captains’ wallet.
 	In case of abundance/cancellation of any match the entry fee will be refunded to captains’ wallet. The mentioned amount will be reflected in those part from where the entry fee was debited. Such as, if the amount of the entry fee was debited from Bonus amount then after cancellation of the match the entry fee will be returned to the bonus amount section. Similarly, if it was debited from either deposited amount or winning amount, the amount will be returned to the same section.
<br/>

   <span class="giftFont">L.	Captain’s Wallet:</span>
   <br/>
Every captain will be provided a wallet in his/her Captain X account. The amount of this wallet can be used to join the paid tournaments and for withdrawal of winning amount. Under no circumstances any cash transaction will be entertained in Captain X.
In a captain’s wallet three types of amount will reflect.
<ul>
  <li><strong>Deposited amount:</strong> Can only be used for entering in paid tournaments. Deposited amount cannot be withdrawn.</li>
  <li><strong>Bonus Amount:</strong> Captain X will provide various bonuses in the form of Bonus Amount. This bonus amount can only be used for entering in paid tournaments. This bonus amount cannot be withdrawn.</li>
  <li><strong>Winning Amount:</strong> The amount any captain will win by winning any tournament. A captain can withdraw this winning amount as well as use it to re-enter other paid tournaments.</li>
</ul>	
All the captains must understand this the wallet they are seeing in the portal that is not any kind of bank account. The amount they are depositing in Captain X portal to take part in the tournaments that is being reflected in the wallet. Captain X will not provide any banking facilities for this wallet. This amount only be used to take part in the tournaments provided by Captain X and withdrawal into captains’ individual savings bank account.
All cash bonuses will be applicable if a Captain deposits minimum Rs. 100/- at a time. 	
<br/>
<span class="giftFont">M.	Withdraw:</span>
<br/>
A captain can withdraw his winning amount at any given point of time on fulfilling the terms and conditions for withdraw. These are as follows:
<ul>
  <li>A captain can only withdraw his winning amount. Deposited amount and bonus amount cannot be withdrawn.</li>
  <li>The minimum and maximum amount for withdrawal is Rs. 300/- and Rs. 2,00,000/- respectively at a time.</li>
  <li>Only one withdrawal can be performed per day.</li>
  <li>TDS will be applied for withdrawal of more than Rs. 10,000/- as per Income Tax Act 1961.</li>
  <li>TDS certificate will be provided to every captain. Captains will be responsible for all other taxes related to winning of the prize money. </li>
  <li>Depending upon the Holidays it may take 3-5 working days for the amount to be credited into any captain’s account after the captain withdraw amount from his wallet. </li>
  <li>In any case, if the amount will not be credited within 5 working days, we suggest you write to us.</li>
</ul>

<span class="giftFont">N.	Invite friends:</span>
<br/>
Any captain can invite his/her friends to play along with them. There is an exciting referral system 
<ul>
  <li>For joining of every friend, a captain gets 20% of his 1st deposit and 5% of his next 20 deposits as bonus cash.</li>
  <li>If a captain will join using a friend’s reference:
    <ol>
      <li>For first five deposits you will get Twenty (20) % Cash Bonus.</li>
      <li>For next five deposits you will get Ten (10) % cash bonus.</li>
      <li>For next Fifty deposits you will get Five (5) % cash bonus.</li>
    </ol>
  </li>
</ul>

These above-mentioned cash bonuses are not being included any other cash bonus provided by Captain X. All the bonus will be applicable for the minimum deposit of Rs. 100/-. 
<br/>
<span class="giftFont">O.	Security of the data provided by the Captains:</span>
<br/>
All the captains are required to provide personal data to Captain X. Some of the data is mandatory field for taking part in various tournaments in Captain X. Under no circumstances Captain X will disclose this data to any third-party without the written approval from the captains. This data only be used for internal marketing and promotional activities of the company. 

All the captains’ data is stored in a safe and secured place. Only handful of authorised personnel have the access to the data.
<br/>
<span class="giftFont">P.	Error/Tabulation of fantasy points:</span>
<br/>
Captain X may use third-party service providers for score and data feed. In rare cases if error or tabulation comes to the attention, Captain X back-end team will rectify or modify the error at the earliest.

However, Captain X will not be responsible for inaccurate data from the third-party. Any captain cannot claim Captain X for the wrong data from the third-party service provider.
<br/>
<span class="giftFont">Q.	Winners – Declaration of Winners, Contacting the Winners, Verification of Winners:</span>
<ul>
  <li>Winners will be decided on basis of the terms and conditions set for the particular match and the fantasy points obtained by every captain. Depending upon the total fantasy score, single winner or multiple winners will be selected. The terms of the particular tournament will be mentioned in the portal which can be seen before joining in that tournament. </li>
  <li>All captains are advised to read the terms carefully before joining the tournament. Once any captain joins any particular tournament, withdrawal from that tournament will not be permissible.</li>
  <li>In case of multi-winner tournament there will be more than one winner. The breakup of the winning prizes will be declared at the time of providing the tournament in the portal. </li>
  <li>In case of tie, the total winning amount of the positions will be divided equally among the winners. Example: In a tournament, the 1st prize is Rs. 100/- and 2nd prize is Rs. 50/-. If the top 2 position holders obtains the same fantasy point at the end of the match then the total winning amount of 1st and 2nd position (i.e. Rs. 150/-) will be divided equally (i.e. Rs. 75/-) between the 1st and 2nd position holder.</li>
  <li>If it is found that any captain is violating the terms and conditions of game play of any tournament, then Captain X has the sole and absolute right to terminate the captains winning and disqualify the captain from the tournament.</li>
</ul>

<span class="giftFont">R.	Prohibited states:</span>
<br/>
As per Indian Law, in Assam, Odisha and Telengana (And other states where law doesn’t permit) paid fantasy game is prohibited. Sign up application from these states will be rejected. By agreeing the terms and conditions of Captain X, a captain declares that he/she is not a resident of these prohibited states. If found otherwise the account of the captain will be terminated, deactivated, deleted immediately.   
<br/>
<span class="giftFont">S.	Gifts:</span>
<br/>
Captain X will send various gifts to all the captains time to time. Some the gifts will be sent to the captains by fulfilling the criteria where as some of the gifts will be send to all captains. The details of the gifts and the criteria are provided in Gift Page.

The gifts, which will be sent to the Captains, are only meant for company’s marketing/promotional purpose. Under no circumstances, any money will be charged from the captains for sending the gifts. This includes the postal charges and gifts costs. 

Any personal marketing using Captain X gifts is strictly prohibited. Gifts will only be sent to the eligible captain after fulfilling certain criteria. The detail criteria for these gifts are listed in the gift page. 
<br/>
<span class="giftFont">T.	Grievance/Dispute/Complaint Redress:</span>
<p>
    For any grievance / complaints / dispute we suggest all captains to write to us at complaints@capxcc.com . Captain X ensures to provide best service to redress the complaints / grievance of its captains. 
    However, this agreement is conducted and constructed in accordance with the laws of India. All disputes, grievance should be subject to arbitration under the Indian Arbitration and Conciliation Act, 1966. The arbitrator will be appointed by the company. The place of arbitration will be Kolkata, West Bengal.    
</p>

<span class="giftFont">U.	Miscellaneous:</span>
<ul>
  <li>
      Captain X does not claim to provide error-free, harmless contents to anyone. If any harm occurs due to usage of Captain X portal or downloading any of the company’s or its associate’s contents Captain X cannot be held responsible for that. All the captains are advised not claim against it.
  </li>
  <li>
      Captain X will not be responsible for any loss that are controllable of the company. These are including but not limited to Natural Disaster, Power Break down, Slow Internet connectivity, war, terrorism, riots, accidents, fire, civil war etc. 
  </li>
  <li>
      Captain X do not warranty winning. All the captain must agree that winning is based on their skills and knowledge about the game and they had participated accepting the monetary loss may occur. Captain X will not be responsible for any captains’ monetary loss in any tournament.
  </li>
  <li>
      Captain X does not warranty that all the data are error-free, correct, harmless, spontaneous, free of virus, secure, reliable, sequential. Any damage or loss, if occur using Captain X portal or any data that being provided in Captain X, no person can claim anything for the loss. All the captains are solely responsible for their damages.
  </li>
</ul>
  </div>
</div>