<app-header></app-header>
<div class="container" style=" text-align: justify;">
  <div class="container" style="margin: 2%;margin-bottom: 3%;height: 26vmax;">
    <p>
      <span class="giftFont">Game of Mere Skills:</span>  
      <br/>
      <br/>
      <span style="font-style: italic; font-size: large">“fantasy games online requires considerable skill, judgement and discretion, the Punjab and Haryana High court has held and observed that such games can’t be considered gambling."</span>  – TOI April 08, 2018 
    The court also had mentioned that Fantasy Sports is not a Game of Chance. Rather it is a “GAME OF SKILLS”, which is a business activity with due registration which pays service tax and income tax and Fantasy sports is protected by Article 19 (1) (g) of the Indian Constitution. Hon’ble Supreme Court of India has also declared fantasy game a legitimate business activity which requires knowledge and skills.
    
    Reference - Shri Varun Gumber v. Union Territory of Chandigarh and Ors., Supreme Court order dated September 15, 2017, Supreme Court of India, Record of Proceedings, diary no. 27511/2017.
    
    By accepting the terms and conditions and participating various tournaments in Captain X all captains agree to take part in a game of skill.
    
    </p>
  </div>
</div>
