<app-header></app-header>
<div class="banner" id="myHeader" #myHeader >
    <!--<div class="row">
        <div class="col-md-4"></div>
      <div class="col-md-4 bannerlogo img-align" style="margin-left:auto;margin-right:auto;text-align: center;">
        <img src="assets/image/LOGO2.png" />
      </div>
      <div class="col-md-4"></div>
       <div class="col-md-1 bannertext2" style="text-align: right;">
        HOME
      </div>
      <div class="col-md-1 bannertext2" (click)="onHowToPlayClick()" style="text-align: center;">
        HOW&nbsp;TO&nbsp;PLAY
      </div>
      <div class="dropdown col-md-1 bannertext2" (click)="onRewardsClick()" style="text-align: right;padding-left: 2%">
            FEATURES
            <ul class="dropdown-menu" style="z-index: 100;position: absolute;">
              <li class="dropdown-item" (click)="onRewardsClick()" style="z-index: 1;">Action</li>
              <li class="dropdown-item" href="#" style="z-index: 1;">Another action</li>
              <li class="dropdown-item" href="#" style="z-index: 1;">Something else here</li>
            </ul>
      </div> 
  <div class="dropdown">
      <button class="dropbtn">Dropdown</button>
      <div class="dropdown-content">
      <a href="#">Link 1</a>
      <a href="#">Link 2</a>
      <a href="#">Link 3</a>
      <a href="#">Link 3</a>
      <a href="#">Link 3</a>
      <a href="#">Link 3</a>
      </div>
    </div> 
    <div class="dropdown col-md-1 bannertext2" (click)="onAboutUsClick()" style="text-align: right;padding-left: 2%">
       COMPANY&nbsp;PROFILE
       <ul class="dropdown-menu" style="z-index: 100;position: absolute;">
         <li class="dropdown-item" (click)="onRewardsClick()" style="z-index: 1;">Action</li>
         <li class="dropdown-item" href="#" style="z-index: 1;">Another action</li>
         <li class="dropdown-item" href="#" style="z-index: 1;">Something else here</li>
         </ul>
    </div> 
       
       <div class="col-md-1 bannertext2" style="text-align: left;">
        <a routerLink="/login"> LOGIN</a>
      </div> 
      <div class="col-md-2">
      </div>
    </div> -->
  </div>
 
  <div style="height: 28vmax;">
  <h3 style="padding: 5%"> Page is under maintainance !!!!!<br /> Come back later</h3>
  </div>  