.sshow {
    display: block;
}
.hhidden {
    display: none;
}
.mmodal {
    z-index: 1000;
    position: fixed;
    bottom: 1%;
    top: 1%;
    width: 100%;
   // background-color: gray;
    background: rgba(0, 0, 0, 0.4);
    padding: 2% 10%;
}
.mmodal-body {
    color: white;
    padding: 0% 10% 10% 10%;
    top:0;
    // padding: 20px;
}
.mmodal-background {
   // z-index: 900;
    position:absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  //  background-color: black;
    opacity: 0.95;
}
.wrapper {
    text-align: center;
    background-image: linear-gradient(rgb(10, 48, 99), rgb(43, 102, 179));
    background-color:rgb(10, 48, 99);
    padding: 2%;
    border: thick;
    border-radius: 5%;
}
.wrapper-cross:before{
    //display: inline-block;
    float: right;
    content: "\00d7"; /* This will render the 'X' */
    cursor: pointer;
    border-radius: 15% 15% 15% 15%;
    color: white;
    font-size: 2rem;
  }